h1 Courses
br
div(class="container container-first")
    div(class="row")
        div(id="btns-cursuri", class="col-xs-10 col-sm-10 col-md-10 col-lg-10")
            button(id="btn-curs-nou" type="button" class="btn btn-default dropdown-toggle curs-nou") New course
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right" style="background-color:gray;")
            h3 Profile
            span(class="profile-nume")
            br
            span(class="profile-status")
br
div(class="container container-second")
    div(id="id01" class="row row-header success")
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            h4 Title
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            h4 About
        div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
            h4 Details
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            h4 Enrollment
        div(class="col-xs-1 col-sm-1 col-md-1 col-lg-1")
            h4 Owner 
        div(class="col-xs-1 col-sm-1 col-md-1 col-lg-1")
            h4 Remove
div(class="modal fade modal-danger", id="modal_id", tabindex="-1", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4 New course
            div(class="modal-body")
                form(class="curs-nou" name="curs-nou")
                    label(class="label" for="owner") Author
                    br
                    input(type="text" name="owner" class="input-xlarge owner")
                    br
                    label(class="label" for="title") Title
                    br
                    input(type="text" name="title" class="input-xlarge title")
                    br
                    label(class="label" for="about") About
                    br
                    input(type="text" name="about" class="input-xlarge about")
                    br
                    label(class="label" for="details") Details
                    br
                    textarea(class="textarea details" name="details" rows="4" cols="50")
            div(class="modal-footer")
                button(type="button", class="btn btn-danger", data-dismiss="modal") Cancel
                button(id="btn-adauga", type="submit", class="btn btn-success", value="Adauga", data-dismiss="modal") Add