h1 Cursuri
br
div(class="container container-first")
    div(class="row")
        div(id="btns-cursuri", class="col-xs-10 col-sm-10 col-md-10 col-lg-10")
            button(id="btn-refresh" type="button" class="btn btn-success dropdown-toggle get-cursuri") Fetch Cursuri
            button(id="btn-curs-nou" type="button" class="btn btn-default dropdown-toggle curs-nou") Curs Nou
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right" style="background-color:gray;")
            h3 Profile
            span(class="profile-nume") Nume:
            br
            span(class="profile-status") Status:
br
div(class="container container-second")
    div(id="id01" class="row row-header")
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            h3 Title
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            h3 About
        div(class="col-xs-7 col-sm-7 col-md-7 col-lg-7")
            h3 Details
        div(class="col-xs-1 col-sm-1 col-md-1 col-lg-1")
            h3 Owner
div(class="modal fade modal-danger", id="modal_id", tabindex="-1", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4 Adauga Curs
            div(class="modal-body")
                form(class="curs-nou" name="curs-nou")
                    label(class="label" for="owner") Author
                    br
                    input(type="text" name="owner" class="input-xlarge owner")
                    br
                    label(class="label" for="title") Title
                    br
                    input(type="text" name="title" class="input-xlarge title")
                    br
                    //h4(class="col-sm-4 modal-title")
                    label(class="label" for="about") About
                    br
                    input(type="text" name="about" class="input-xlarge about")
                    br
                    //h4(class="col-sm-4 modal-about")
                    label(class="label" for="details") Details
                    br
                    textarea(class="textarea details" name="details" rows="4" cols="50")  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            div(class="modal-footer")
                button(type="button", class="btn btn-danger", data-dismiss="modal") Anuleaza
                button(id="btn-adauga", type="submit", class="btn btn-success", value="Adauga", data-dismiss="modal") Adauga