block content
    div(id="wrapper")
        div(class="message-container")
            div(class="message-north")
                ul(class="message-user-list")

                div(class="message-thread")

            div(class="message-south")
                textarea(class="textarea-chat", cols="20", rows="3")
                button Send
block javascript
    script(src="assets/js/main.js")
    script(type="text/javascript").
        function getThreadMessages(senderUsername, receiverUsername) {
            $.ajax({
                url: "https://localhost:8443/messages/" + senderUsername + "/" + receiverUsername,
                type: "GET",
                dataType: "text",
                headers: {'Content-Type': 'application/json', 'token': sessionStorage.accessToken},
                success: function (data, textStatus, jqXHR) {
                    var messages = JSON.parse(data);
                    for (var i = 0; i < messages.length; i++) {
                        var date = moment(messages[i].timestamp).format('YYYY-MM-DD HH:mm');

                        messages[i].timestamp = date;
                        if (messages[i].senderUsername == senderUsername) {
                            $(".message-thread").append("<div class='message bubble-right'><label class='message-user'>" + messages[i].senderUsername +
                                    "</label><label class='message-timestamp'>" +
                                    messages[i].timestamp +
                                    "</label><p>" + messages[i].message + "</p></div>");
                        }
                        else {
                            $(".message-thread").append("<div class='message bubble-left'><label class='message-user'>" + messages[i].senderUsername +
                                    "</label><label class='message-timestamp'>" +
                                    messages[i].timestamp +
                                    "</label><p>" + messages[i].message + "</p></div>");
                        }
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }
            });
        }
        $(document).ready(function () {

            $.ajax({
                url: "https://localhost:8443/users",
                type: "GET",
                dataType: "text",
                headers: {'Content-Type': 'application/json', 'token': sessionStorage.accessToken},
                success: function (data, textStatus, jqXHR) {
                    var users = JSON.parse(data);
                    for (var i = 0; i < users.length; i++) {
                        $(".message-user-list").append("<li><a href='#'><span class='user-img'></span><span class='user-title'>"
                                + users[i].username +
                                "</span><p class='user-desc'>" + users[i].email +
                                "</p></a></li>");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }

            });

            $('.message-user-list').delegate('a', 'click', function () {
                $('a').removeClass('active');
                $(this).addClass('active');
                var receiverUserName = $('.active').children('.user-title').text();
                $(".message-thread").empty();
                getThreadMessages(sessionStorage.currentUser, receiverUserName);
            });

            $('button').click(function (e) {
                var receiverUsername = $('.active').children('.user-title').text();

                var payload = {
                    "senderUsername": sessionStorage.currentUser,
                    "receiverUsername": receiverUsername,
                    "message": $('.textarea-chat').val()
                };
                $.ajax({
                    url: "https://localhost:8443/messages",
                    type: "POST",
                    dataType: "text",
                    headers: {'Content-Type': 'application/json', 'token': sessionStorage.accessToken},
                    data: JSON.stringify(payload),
                    success: function (data, textStatus, jqXHR) {
                        $(".textarea-chat").val('');
                        $(".message-thread").empty();
                        getThreadMessages(sessionStorage.currentUser, receiverUsername);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown);
                    }
                });
            });
        });

