block content
    div(id="wrapper")
        div(class="message-container")
            div(class="message-north")
                ul(class="message-user-list")
                    li
                        a(href="#")
                            span(class="user-img")
                            span(class="user-title") Bryan Adams
                            p(class="user-desc") badams@music.com
                    li
                        a(href="#")
                            span(class="user-img")
                            span(class="user-title") Enrique Iglesias
                            p(class="user-desc") _enriqueiglesias@music.com
                    li
                        a(class="active", href="#")
                            span(class="user-img")
                            span(class="user-title") Jack Johnson
                            p(class="user-desc") jackjohnson@music.com
                    li
                        a(href="#")
                            span(class="user-img")
                            span(class="user-title") Paul McCartney
                            p(class="user-desc") paulmccartney@music.com

                div(class="message-thread")
                    div(class="message bubble-left")
                        label(class="message-user") Bryan Adams
                        label(class="message-timestamp") 12.12.2015 12:56
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.
                        
                    div(class="message bubble-right")
                        label(class="message-user") Jack Johnson
                        label(class="message-timestamp") 13.12.2015 13:01
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.

                    div(class="message bubble-left")
                        label(class="message-user") Bryan Adams
                        label(class="message-timestamp") 13.12.2015 13:05
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.
                        
                    div(class="message bubble-right")
                        label(class="message-user") Jack Johnson
                        label(class="message-timestamp") 13.12.2015 14:47
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.

            div(class="message-south")
                textarea(class="textarea-chatusers", cols="20", rows="3")
                button Send
block javascript
    script(src="assets/js/main.js")
    script(type="text/javascript").
        $(document).ready(function() {
            var senderUsername = 'Bryan Adams';
            $('button').click(function(e) {
                
                    var receiverUsername = $('.active').children('.user-title').text();
                    var today = new Date();

                    var dd = today.getDate();
                    var mm = today.getMonth()+1; //January is 0!
                    var yyyy = today.getFullYear();
                    var h = today.getHours();
                    var m = today.getMinutes();

                    if(dd<10) {
                        dd='0'+dd;
                    }    

                    if(mm<10) {
                    mm='0'+mm;
                    } 

                    today = mm+'-'+dd+'-'+yyyy + ' ' + h + ':' + m;
                    var payload = {
                        "senderUsername": senderUsername,    
                        "receiverUsername": receiverUsername,
                        "timestamp": today,    
                        "message": $('.textarea-chatusers').text()
                        };
                    $.ajax({
                url: "http://localhost:8080/messages",
                type: "POST",
                dataType: "text",
                headers: {'Content-Type': 'application/json', 'token':sessionStorage.accessToken},
                data: JSON.stringify(payload),
                success: function (data, textStatus, jqXHR) {
                    //sessionStorage.setItem("accessToken",data);
                    //alert('Success: ' + sessionStorage.accessToken);
                    //window.location.href='cursuri.html';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }
                
            });

                $.ajax({
                url: "http://localhost:8080/messages/" + senderUsername + '/' + receiverUsername,
                type: "POST",
                dataType: "text",
                headers: {'Content-Type': 'application/json', 'token': sessionStorage.accessToken},
                data: JSON.stringify(payload),
                success: function (data, textStatus, jqXHR) {
                    alert(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }
            });  
            });});