block content
    div(id="live-chat")
        header(class="clearfix")
            a(href="#", class="chat-close") x

            h4 Ema Barac

            span(class="chat-message-counter") 3

        div(class="chat")
            
            div(class="chat-history")
                
                div(class="chat-message clearfix")
                    
                    img(src="http://lorempixum.com/32/32/people", alt="", width="32", height="32")

                    div(class="chat-message-content clearfix")
                        
                        span(class="chat-time") 13:35

                        h5 Ema Barac

                        p Am înteles că un om poate avea totul neavand nimic și nimic având totul.
                hr

                div(class="chat-message clearfix")
                    
                    img(src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32")

                    div(class="chat-message-content clearfix")
                        
                        span(class="chat-time") 13:37

                        h5 Emanuel Barac

                        p Întreaga apă din mare nu poate scufunda un vapor, dacă nu pătrunde în interiorul navei. În mod similar negativitatea din lume nu te poate pune jos, decât dacă îi permiți să ajungă în tine.

                hr

                div(class="chat-message clearfix")
                    
                    img(src="http://lorempixum.com/32/32/people" alt="" width="32" height="32")

                    div(class="chat-message-content clearfix")
                        
                        span(class="chat-time") 13:38

                        h5 Ema Barac

                        p Da, asa este. Cata dreptate ai.

                hr

            p(class="chat-feedback") Your partner is typing…

            form(action="#" method="post")

                fieldset
                    
                    input(type="text" placeholder="Type your message…" autofocus)
                    input(type="hidden")
block javascript
    script(src="assets/js/main.js")
    script(type="text/javascript").
        $(document).ready(function() {

            $('#live-chat header').on('click', function() {

                $('.chat').slideToggle(300, 'swing');
                $('.chat-message-counter').fadeToggle(300, 'swing');

            });

            $('.chat-close').on('click', function(e) {

                e.preventDefault();
                $('#live-chat').fadeOut(300);

            });

        });