div(class="logo")
div(class="login-block")
	h1
	input(id="username", type="text", placeholder="Username", value="")
	input(id="password", type="password", placeholder="Password", value="")
	button(class="btn-submit", type="submit") Log in
block javascript
	script(src="assets/js/main.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$("button").on("click", function(){
			var payload = {
				"username": $('#username').val().toString(),	
				"password": $('#password').val().toString()
			};
			$.ajax({
				url: "http://localhost:8080/authenticate",
				type: "POST",
				dataType: "text",
				headers: {'Content-Type': 'application/json'},
				data: JSON.stringify(payload),
				success: function (data, textStatus, jqXHR) {
					sessionStorage.setItem("accessToken",data);
					alert('Success: ' + sessionStorage.accessToken);
					window.location.href='forum.html';
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('Error: ' + errorThrown);
				}
			});
		});
		});