extends ../components/common/page.jade

block content
    include ../components/courses/courses.jade
block javascript
    script(type="text/javascript").
        $(document).ready(function () {
            loadAJAX();
            $(".profile-nume").text("Name: " + sessionStorage.currentUser);
            $(".profile-status").text("Role: " + sessionStorage.role);
            if (sessionStorage.role == "student") {
                $("#btn-curs-nou").addClass('hide');
            }

            $("#btn-curs-nou").on("click", function () {
                showPopup();
            });
            $("#btn-adauga").on("click", function () {
                $.postJSON = function (url, data, token, callback) {
                    return jQuery.ajax({
                        headers: {
                            'Content-Type': 'application/json',
                            'token': token
                        },
                        'type': 'POST',
                        'url': url,
                        'data': JSON.stringify(data),
                        'dataType': 'text',
                        'success': callback
                    });
                };
                var titleToSend = $(".input-xlarge.title").val();
                var aboutToSend = $(".input-xlarge.about").val();
                var detailsToSend = $(".textarea.details").val();
                var ownerToSend = $(".input-xlarge.owner").val();
                var dataToSend = {
                    title: titleToSend,
                    about: aboutToSend,
                    details: detailsToSend,
                    owner: ownerToSend
                };
                $.postJSON(
                        "http://localhost:8080/courses",
                        dataToSend,
                        sessionStorage.accessToken,
                        function (data, status) {
                            console.log("Data: " + data + "\nStatus: " + status);
                        });
                setTimeout(loadAJAX(), 3000);
            });
            function showPopup() {
                $('#modal_id').modal('show');
            }

            function loadAJAX() {
                $.getJSON = function (url, token, callback) {
                    return jQuery.ajax({
                        'headers': {
                            'Content-Type': 'application/json',
                            'token': token
                        },
                        'type': 'GET',
                        'url': url,
                        'dataType': 'json',
                        'success': callback,
                        'error': function (jqXHR, textStatus, errorThrown) {
                            alert('Error: ' + errorThrown);
                        }
                    });
                };

                $.getJSON("http://localhost:8080/courses", sessionStorage.accessToken, function (data, status) {
                    var inside = "";
                    var i;
                    var row = [];
                    var th = document.getElementById("id01");
                    $(".container.container-second").empty();
                    $(".container.container-second").append(th);
                    var enroll_button = '<button type="button" class="btn btn-enroll"> Enroll to course </button>';
                    var remove_button = '<button type="button" class="btn btn-remove-course"> Remove </button>';
                    for (i = 0; i < data.length; i++) {
                        row[i] = $("<div></div>").attr("class", "row row-content");
                        $("#id01").after(row[i]);
                        inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><h5>' + data[i].title + '</h5></div>';
                        inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><h5>' + data[i].about + '</h5></div>';
                        inside += '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><h5>' + data[i].details + '</h5></div>';
                        inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><h5>' + enroll_button + '</h5></div>';
                        inside += '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><h5>' + data[i].owner + '</h5></div>';
                        inside += '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><h5>' + remove_button + '</h5></div>';
                        $(row[i]).append(inside);
                        inside = "";
                    }
                    console.log(status);
                });
            }
        });