extends ../components/common/page.jade

block content
	include ../components/cursuri/cursuri_content.jade
block javascript
	script(type="text/javascript").
		$(function(){
			$(".btn-danger").on("click", function(){
				$(".btn-danger").text("Refresh Cursuri");
				loadAJAX();
			});
			function loadAJAX(){
				$.get("http://localhost:8080/courses").done(function (arr) {
					var inside = "";
					var i;
					var row = [];
					var th = document.getElementById("id01");
					$(".container").empty();
					$(".container").append(th);

					for(i = 0; i < arr.length; i++) {
						row[i] = document.createElement('div');
						//$(row[i]).empty();
						$(row[i]).attr("class","row row-content");
						inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' + arr[i].title + '</div>';
						inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' + arr[i].about + '</div>';
						inside += '<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">' + arr[i].details + '</div>';
						inside += '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">' + arr[i].owner + '</div>';
						$(row[i]).append(inside);
						$("#id01").after(row[i]);
					}
					//console.log(row);					
					//document.getElementById("id01").innerHTML = inside;
				});
			}
		});