extends ../components/common/page.jade

block content
	include ../components/cursuri/cursuri_content.jade
block javascript
	script(type="text/javascript").
		$(function(){
			$("#btn-refresh").on("click", function(){
				$("#btn-refresh").text("Refresh Cursuri");
				loadAJAX();
			});
			$("#btn-curs-nou").on("click", function(){
				showPopup();
			});
			$("#btn-adauga").on("click", function(){
				$.postJSON = function(url, data, callback) {
					return jQuery.ajax({
					headers: { 
						'Accept': 'application/json',
						'Content-Type': 'application/json' 
					},
						'type': 'POST',
						'url': url,
						'data': JSON.stringify(data),
						'dataType': 'json',
						'success': callback
					});
				};
				var titleToSend = $(".input-xlarge.title").val();
				var aboutToSend = $(".input-xlarge.about").val();
				var detailsToSend = $(".textarea.details").val();
				var ownerToSend = $(".input-xlarge.owner").val();
				var dataToSend = {
					title: titleToSend,
					about: aboutToSend,
					details: detailsToSend,
					owner: ownerToSend
				};
				$.postJSON(
					"http://localhost:8080/courses", 
					dataToSend,
					function(data, status){
						console.log("Data: " + data + "\nStatus: " + status);
				});
			});
			function showPopup(){
				//$('#modal_id').find('.modal-title').text('title');
				//$('#modal_id').find('.modal-about').text('about');
				//$('#modal_id').find('.modal-body').text('details');
				console.log("intra in functie showPopup");
				$('#modal_id').modal('show');
			}
			function loadAJAX(){
				$.get("http://localhost:8080/courses", function (data, status) {
					var inside = "";
					var i;
					var row = [];
					var th = document.getElementById("id01");
					$(".container").empty();
					$(".container").append(th);
					for(i = 0; i < data.length; i++) {
						row[i] = $("<div></div>").attr("class","row row-content");
						$("#id01").after(row[i]);
						inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' + data[i].title + '</div>';
						inside += '<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">' + data[i].about + '</div>';
						inside += '<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">' + data[i].details + '</div>';
						inside += '<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">' + data[i].owner + '</div>';
						$(row[i]).append(inside);
						inside="";
					}
					console.log(status);
				});
			}
		});