extends ../components/common/page.jade

block content
	//h1 Forum
	div(class="logo")
	div(class="forums-block")
		ul
			li
				div(class="forumName")
					p Name1
				div(class="forumDescription")
					p 
						| Description1 Description1 Description1 Description1 Description1 Description1 Description1
						| Description1 Description1 Description1 Description1 Description1 Description1 Description1
						| Description1 Description1 Description1 Description1 Description1 Description1 Description1
						| Description1 Description1 Description1 Description1 Description1 Description1 Description1
						| Description1 Description1 Description1 Description1 Description1 Description1 Description1
			li 
				div(class="forumName")
					p Name2
				div(class="forumDescription")
					p Description2
		