extends ../components/common/page.jade

block content
	//h1 Forum
	div(class="logo")
	div(class="forum-block")
		textarea(name="Message" id="message" placeholder="Post here...")
		button(id = "post" class="btn-post", type="submit") Post
		p ABC

block javascript
	script(type="text/javascript").
		$(document).ready(function(){
			$("button").on("click", function(){
				var msg = $("textarea").val();
				$("p").append(msg);
			})
		})

		