block content
    include ../components/module/module.jade
block javascript
    script(type="text/javascript").
        $(document).ready(function () {
        
        $.getJSON = function (url, callback) {
                return jQuery.ajax({
                    'headers': {
                        'Content-Type': 'application/json',
                        'token': sessionStorage.accessToken.toString()
                    },
                    'type': 'GET',
                    'url': url,
                    'dataType': 'json',
                    'success': callback,
                    'error': function (jqXHR, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown);
                    }
                });
            };

        var moduleTitle = sessionStorage.currentModule;
        var courseTitle = sessionStorage.currentCourse;
        var url = "http://localhost:8080/courses/" +  encodeURIComponent(courseTitle) + "/modules/" + encodeURIComponent(moduleTitle);

            var table = document.getElementsByClassName("flatTable")[0];
            table.innerHTML = '';

            var inside = '<tr class="titleTr"><td colspan="2" class="titleTd">'+ moduleTitle + '</td>' +
                    '<td style="cursor: pointer;" id="addFileButton" class="addFileTd"></td></tr>';
            inside += '<tr class="headingTr"><td>Title</td><td>Course</td><td>Description</td></tr>';
            $('table.flatTable').append(inside);

            $.getJSON(url, function (data, status) {
                inside = "";
                inside += '<tr><td>' + data.title + '</td><td>' + data.course + '</td><td>'+ data.description +'</td></tr>';
                $('table.flatTable').append(inside);
                inside = '<tr class="titleTr"><td colspan="3" class="titleTd">'+ 'Files for this module' + '</td>' +'</tr>';
            	$('table.flatTable').append(inside);
                $("#addFileButton").on("click", function () {
                    alert("A new file will be added to this module. Not implemented yet!");
                });
            });
        });