doctype html
html(lang="en")
    include document_head
    div(class="background_image")
        block header
        block content
        block footer
        
        include scripts
        block javascript