doctype html
html(lang="en")
    include document_head

    body(class="background_image")
        block header
        block content
        block footer
        
        include scripts
        block javascript