div(class="header")
div(class="scroll")
ul(id="navigation")
    li(class="home")
        a(href="courses.html", title="Home")
    li(class="chat")
        a(href="chat.html", title="Chat")
    li(class="forum")
        a(href="forum.html", title="Forum")

block javascript
    script(src="assets/js/main.js")

