h1 Forumuri
br
div(class="container container-first")
	div(class="row")
		div(id="btns-forumuri", class="col-xs-10 col-sm-10 col-md-10 col-lg-10")
			button(id="btn-refresh" type="button" class="btn btn-success dropdown-toggle get-forumuri") Fetch Forumuri
			button(id="btn-curs-nou" type="button" class="btn btn-default dropdown-toggle forum-nou") Forum Nou
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right" style="background-color:gray;")
			h3 Profile
			span(class="profile-nume") Nume:
			br
			span(class="profile-status") Status:
br
div(class="container container-second")
	div(id="id01" class="row row-header")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h3 Title
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h3 Owner
div(class="modal fade modal-danger", id="modal_id", tabindex="-1", role="dialog", aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				h4 Adauga Forum
			div(class="modal-body")
				form(class="curs-nou" name="curs-nou")
					label(class="label" for="title") Title
					br
					input(type="text" name="title" class="input-xlarge title")
					br
					label(class="label" for="owner") Owner
					br
					input(type="text" name="owner" class="input-xlarge owner")
					br
					textarea(class="textarea details" name="details" rows="4" cols="50")  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			div(class="modal-footer")
				button(type="button", class="btn btn-danger", data-dismiss="modal") Anuleaza
				button(id="btn-adauga", type="submit", class="btn btn-success", value="Adauga", data-dismiss="modal") Adauga