table.flatTable
    tr.titleTr
        td.titleTd Topics
        td(colspan='4')
        td.plusTd.button
    tr.headingTr
        td Title
        td DATE ISSUED
        td COMPANY
        td AMOUNT
        td STATUS
        td
    tr
        td #2331212
        td Feb 21,2013
        td White Out
        td $2,000
        td Paid
        td.controlTd
            .settingsIcons
                span.settingsIcon
                    img(src='http://i.imgur.com/nnzONel.png', alt='X')
                span.settingsIcon
                    img(src='http://i.imgur.com/UAdSFIg.png', alt='placeholder icon')
                .settingsIcon
                    img(src='http://i.imgur.com/UAdSFIg.png', alt='placeholder icon')
#sForm.sForm.sFormPadding
    span.button.close
        img(src='http://i.imgur.com/nnzONel.png', alt='X')
    h2.title Add a New Record
link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
