h1 Cursuri
br
div(class="container")
	div(id="id01" class="row row-header")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Title
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 About
		div(class="col-xs-7 col-sm-7 col-md-7 col-lg-7")
			h4 Details
		div(class="col-xs-1 col-sm-1 col-md-1 col-lg-1")
			h4 Owner
br
button(type="button" class="btn btn-danger dropdown-toggle get-cursuri" data-toggle="dropdown" aria-haspopup="true") Fetch Cursuri