h2 Cursuri
br
.container
	div(class="row row-header")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Ziua
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Orele
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Sala
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Materia
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Anul
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
			h4 Cadrul didactic
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
	div(class="row row-content")
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test
		div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2") test