br
h1 Adminstrator Page
br
div(class="container container-users")
	div(id="table-users" class="row row-header")
		div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
			h3 User
		div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
			h3 Role
		div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
			h3(style="text-align: right;" ) Change Role