div(class="logo")
div(class="login-block")
	h1
	input(id="firstname", class="info", type="text", placeholder="First Name", value="")
	input(id="lastname", class="info", type="text", placeholder="Last Name", value="")
	input(id="email", class="info", type="text", placeholder="E-mail", value="")
	input(id="username", class="info", type="text", placeholder="Username", value="")
	input(id="password", class="pw", type="password", placeholder="Password", value="")
	input(id="repeatpassword", class="pw", type="password", placeholder="Repeat Password", value="")
	button(id = "submit" class="btn-submit", type="submit") Register